/*STYLE FOR index.html*/

:root {
    
}

/*WRAPPER*/

#wrapper {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 10% calc(80% - 2 * max(var(--gap-main), 2vw)) 10%;
    grid-template-rows: 80px auto auto 4fr auto;
    grid-template-areas:
    "hd hd hd"
    ". cs ."
    "sp tb ."
    "sp td ."
    "ft ft ft";

    column-gap: max(var(--gap-main), 2vw);
    row-gap: var(--gap-large);

    background-color: light-dark(var(--bg-main), var(--bg-main-dark));
}

header {
    grid-area: hd;
}

#current-site {
    grid-area: cs;
    padding: 1%;

    background-image: url("../img/dotImgBlack.svg");
    background-repeat: repeat;
    background-size: 20%;

    font-family: Foldit, Verdana;
    font-size: 2rem;
}

.side-panel {
    grid-area: sp;

    margin-left: var(--pad-small);
}

.particles {
    grid-area: tb;

    box-sizing: content-box;
    padding: var(--pad-large);

    background-color: light-dark(var(--bg-sec), var(--bg-sec-dark));
    border-radius: var(--border-radius);
}

.hardron-details-container {
    grid-area: td;
    box-sizing: border-box;
    padding: var(--pad-small);
    border-radius: var(---border-radius);
    box-shadow: 0px 0px 20px 2px rgb(100 100 100 / .2);
}

footer {
    grid-area: ft;
}

/*-----------------------------*/
/*ELEMENT SPECIFIC*/

/*-----------------------------*/

.current-site > * {
    width: max-content;
    height: auto;
}

/*TABLE*/

.table-container {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr auto;
    /* gap: var(--gap-main); */
}

.upper-bar {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 100%;
}

.upper-bar > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.upper-bar > .col-hd {
    grid-column: 1 / span 3;
    height: 50%;

    & :nth-child(1) {
        grid-column: 1 / span 1;
    }
    & :nth-child(2) {
        grid-column: 2 / span 1;
    }
    & :nth-child(3) {
        grid-column: 3 / span 1;
    }
}
.upper-bar > .col-hd > * {
    text-align: center;
}

.upper-bar > .legand {
    grid-column: 3 / span 2;
}

.table {
    grid-column: 1 / -1;
    grid-row: -2 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(5, auto);

    
}

.entry {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    box-sizing: border-box;
    padding: calc(var(--pad-small) / 2);
}

.particle {
    width: 100%;
    height: 100%;

    position: relative;

    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: calc(var(--pad-small) / 2);

    & .particle-name {
        width: 200%;
        height: fit-content;
    
        text-align: center;
    }

    & .particle-img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    & > .center {
        position: absolute;
        top: 0;
        left: 0;
    }

    & > .center > div {
        width: 50%;
        height: 100%;
        font-family: Rubik;
    }

    & .particle-data-list {
        font-size: .6rem;
    }
}

/*TABLE DATA*/

.hardron-details-container > * {
    margin-bottom: var(--gap-main);
}

.hardron-details-container > .details-header {
    margin-bottom: calc(var(--gap-large) / 2);
    justify-content: space-between;
    min-height: 25%;
    height: 100px;
    min-height: auto;

    & .options {
        width: max(25%, 300px);
        margin-left: var(--gap-main);
        border-radius: var(--border-radius);
        border: dashed hsl(from light-dark(var(--border-color) , var(--border-color-dark)) h s calc(l * 1.2)) var(--border-size);
    }
}

.active-list {
    max-height: 80%;
    overflow-y: auto;
}

.active-list > li {
    min-width: max-content;
    width: 20%;
    height: 25px;
    gap: var(--gap-small);
}

.hardron-suggestions {
    gap: var(--gap-small);
}

.suggestion {
    width: max-content;
    height: auto;
    box-sizing: border-box;
    padding: var(--pad-small);

    border-radius: var(--border-radius);
    background-color: light-dark(var(--bg-sec), var(--bg-sec-dark));
    cursor: pointer;
}

.hardron-details {
    justify-self: stretch;
    padding: var(--pad-main);    
}

.hardron-details > .header {
    height: 50px;
    border-top: solid 1px light-dark(var(--border-color), var(--border-color-dark));
}

.hardron-details > .header > h3 {
    margin-right: auto;
}


/*SIDEBAR*/

.side-panel-list {
    position: relative;
    align-items: center;
}

.side-panel-list > label {
    width: calc(80% - var(--gap-small) * 2);
}

.side-panel-list > input {
    width: 20%;
    align-items: center;
}

@media all and (width < 750px) {
    .particle-data-list {
        opacity: 0;
        width: calc(100% + var(--pad-small) / 2);
        height: calc(100% + var(--pad-small) / 2);
        box-sizing: border-box;
        padding: var(--pad-small);
        
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;

        border-radius: var(--border-radius);

        transition: opacity .3s, background-color .3s;
    }

    .particle-data-list:hover {
        opacity: 1;
        background-color: rgb(150 150 150 / .7);
    }

    .particle > .center {
        font-size: .5rem;
    }
}

@media all and (prefers-color-scheme: dark) {
    #current-site {
        background-image: url("../img/dotImgWhite.svg");
    }
}