/*SHARED ACCROSS ALL HTML FILES*/

:root {
    --pad-small: 5px;
    --pad-main: 10px;
    --pad-large: 40px;

    --gap-large: 40px;
    --gap-main: 10px;
    --gap-small: 5px;

    --border-radius: 12px;

    --border-size: 3px;

    --title-size: 1.5rem;
    --paragraph-size: 1rem;

    --trans-time: .3s;

    /*Light scheme colors*/
    --fg: rgb(245, 245, 245);
    --bg-main: rgb(230, 230, 230);
    --bg-sec: rgb(200, 200, 200);
    --border-color: rgb(170, 170, 170);

    --interactable: rgb(220, 220, 220);
    --header-color: rgb(69, 69, 84);
    --title-color: rgb(30, 30, 30);
    --text-color: rgb(20, 20, 20);
    --desc-color: hsl(from var(--text-color) h s calc(l * .5));

    /*Dark scheme colors*/
    --fg-dark: rgb(30, 30, 30);
    --bg-main-dark: rgb(50, 50, 50);
    --bg-sec-dark: rgb(80, 80, 80);
    --border-color-dark: rgb(66, 66, 66);

    --interactable-dark: rgb(46, 46, 46);
    --header-color-dark: rgb(218, 218, 218);
    --title-color-dark: rgb(230, 230, 230);
    --text-color-dark: rgb(210, 210, 210);

    color-scheme: light dark;
}

@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
    font-weight: 200 900;
}

@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-VariableFont_wght.ttf');
    font-weight: 300 900;
}

@font-face {
    font-family: Foldit;
    src: url('../fonts/Foldit-VariableFont_wght.ttf');
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
}

/*ELEMENT SPECIFIC*/

body {
    max-width: 100vw;
    width: 100%;
}

ul {
    list-style: none;
}

h1, h2 {
    margin: var(--gap-small);
    text-align: center;
}

h1 {
    font-family: 'Segoe UI';
    color: light-dark(var(--header-color), var(--header-color-dark));
}

h2:not(:only-child) {
    font-family: Rubik;
}

h3 {
    font-family: Verdana;
}

p, h4, h5, h6 {
    font-size: 1rem;
    color: light-dark(var(--text-color), var(--text-color-dark));
    font-family: 'Nunito';
}

label, output {
    color: light-dark(var(--text-color), var(--text-color-dark));
    font-family: 'Rubik';
}

button, .button {
    display: block;
    padding: var(--pad-small);

    background: linear-gradient(light-dark(var(--interactable), var(--interactable-dark)) 50%, rgb(10 10 10 / .2) 100%);
    color: light-dark(var(--text-color), var(--text-color-dark));

    font-family: 'Nunito';
    font-weight: 500;

    transition: background-color var(--trans-time), color var(--trans-time), box-shadow var(--trans-time);


}

button:hover:not(:disabled), button:focus:not(:disabled) {
    background-color: light-dark(var(--interactable-dark), var(--interactable));
    color: light-dark(var(--text-color-dark), var(--text-color));
    box-shadow: 0px 2px 5px 2px light-dark(var(--border-color), var(--border-color-dark));
    background-size: 0;
}

button:hover:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    box-shadow: none;
    background: hsl(from light-dark(var(--interactable), var(--interactable-dark)) h s  calc(l * .8));
    color: hsl(from light-dark(var(--text-color), var(--text-color-dark)) h s calc(l * .8));
}

abbr {
    display: inline;
    text-decoration: underline;
    text-decoration-color: rgb(220, 220, 220);
    text-decoration-thickness: .5px;
}

hr {
    height: 1px;
    background-color: light-dark(var(--border-color), var(--border-color-dark));
    border: none;
    margin: var(--gap-small) 0;
}

li > button {
    height: 100%;
}

/*FEATURES*/

.custom {
    appearance: none;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.pad-small {
    padding: var(--pad-small);
}

.gap-small {
    gap: var(--gap-small);
}

.aspect-height {
    height: 100%;
    aspect-ratio: 1/1;
}  

.aspect-width {
    width: 100%;
    aspect-ratio: 1/1;
}

.round-height {
    height: auto;
    aspect-ratio: 1 / 1;
}

.round-width {
    height: auto;
    aspect-ratio: 1 / 1;
}

.relative {
    position: relative;
}

h1 {
    color: light-dark(var(--header-color), var(--header-color-dark));
    text-shadow: aqua -1px -1px 0px,
                    red 1px 1px 0px;
}

.text-shadow {
    position: absolute;
    
    left: 0;
    bottom: 0px;
    transform: translate(2px, calc(30% + 4px));
    height: 100%;
    color: white;
}

.ign-mouse {
    pointer-events: none;
    touch-action: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.center {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.line-seperator {
    margin-bottom: var(--gap-main);

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: light-dark(rgb(80, 80, 80), rgb(150, 150, 150));
    }
}

.list-space {
    margin-bottom: var(--gap-small);
}

.list-space-2 {
    margin-bottom: var(--gap-main);
}

.text-center {
    text-align: center;
}

.border, button {
    border-radius: var(--border-radius);
    
    border: solid 2px light-dark(var(--border-color), var(--border-color-dark));
    box-shadow: 0px 0px 10px 2px light-dark(var(--border-color), var(--border-color-dark));
}

input[type="checkbox"] {
    appearance: none;

    display: block;
    height: 1rem;
    width: auto;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    margin-left: var(--gap-small);

    justify-self: flex-start;
    align-self: flex-start;

    color: light-dark(var(--border-color), var(--border-color-dark)); /*Used for currentColor*/
    border-radius: 1000px;
    border: solid 3px currentColor;
    background-color: rgb(0 0 0 / 0);

    transition: background-color var(--trans-time);
}

input[type="checkbox"]:hover {
    cursor: pointer;
    border-color: hsl(from currentColor h s calc(l * 1.5));
}

input[type="checkbox"]:checked {
    background-color: light-dark(var(--interactable-dark), var(--interactable-dark));
}

.radial-ind[solid] > span {
    background-color: light-dark(black, white);
}

/*HEADER*/

header h1 {
    font-size: var(--title-size);
}

.header-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: var(--pad-main);
    gap: 10px;
}

.header-left {
    width: fit-content;
    height: 100%;
}

.header-right {
    height: 100%;
    justify-content: center;
}

nav {
    min-width: 20%;
    max-height: 100%;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 100%;
    gap: var(--gap-main);
    max-height: 100%;
    text-overflow: clip;
}

.nav-list > li {
    position: relative;
    margin: 0 var(--gap-small);
    width: max-content;
}

header a {
    text-decoration: none;
    font-variation-settings: "wght" 500.0;
    font-family: Nunito;
    color: light-dark(var(--title-color), var(--title-color-dark));

    transition: font-variation-settings .4s;
}

header a:hover {
    font-variation-settings: "wght" 800.0;
}


.nav-list > li > * {

}

/*FOOTER*/

footer > .footer-list {
    margin-bottom: var(--gap-small);
    height: calc(100% - 2 * var(--gap-small));
    justify-content: space-around;
    gap: var(--gap-small);
}

.footer-list > section {
    flex-basis: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--gap-main);

    background-color: light-dark(var(--bg-main), var(--bg-main-dark));
}

ul[class=list-col] > * {
    margin-bottom: var(--gap-small);
}

footer > .bottom {
    margin-bottom: var(--gap-small);
    height: max-content;
    justify-content: space-evenly;

    background-color: light-dark(var(--bg-sec), var(--bg-sec-dark));
}

footer > .bottom > * {
    height: 100%;
    width: max-content;
}

.bottom > span {
    display: block;
    height: 100%;
    width: 50%;
}

@media all and (prefers-contrast: more) {
    h1 {
        text-shadow: none;
    }
    #current-site > *{
        background-color: black;
    }
}