/*SHARED ACCROSS ALL HTML FILES*/

:root {
    --pad-small: 5px;
    --pad-main: 10px;
    --pad-large: 40px;

    --gap-large: 40px;
    --gap-main: 10px;
    --gap-small: 5px;

    --border-radius: 12px;

    --border-size: 3px;

    --title-size: 1.5rem;
    --paragraph-size: 1rem;

    --trans-time: .3s;

    /*Light scheme colors*/
    --fg: rgb(245, 245, 245);
    --bg-main: rgb(230, 230, 230);
    --bg-sec: rgb(200, 200, 200);
    --border-color: rgb(170, 170, 170);

    --interactable: rgb(210, 210, 210);
    --header-color: rgb(69, 69, 84);
    --title-color: rgb(30, 30, 30);
    --text-color: rgb(20, 20, 20);
    --desc-color: hsl(from var(--text-color) h s calc(l * .5));

    /*Dark scheme colors*/
    --fg-dark: rgb(30, 30, 30);
    --bg-main-dark: rgb(50, 50, 50);
    --bg-sec-dark: rgb(80, 80, 80);
    --border-color-dark: rgb(66, 66, 66);

    --interactable-dark: rgb(46, 46, 46);
    --header-color-dark: rgb(218, 218, 218);
    --title-color-dark: rgb(230, 230, 230);
    --text-color-dark: rgb(210, 210, 210);


    --border-box-shadow: 4px 0 6px -4px light-dark(rgb(100 100 100 / .5), rgb(30 30 30 / .5)),
                -4px 0 5px -4px light-dark(rgb(100 100 100 / .5), rgb(30 30 30 / .5)),
                0px 4px 5px -4px light-dark(rgb(100 100 100 / .5), rgb(30 30 30 / .5));

    color-scheme: light dark;
}

@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
    font-weight: 200 900;
}

@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-VariableFont_wght.ttf');
    font-weight: 300 900;
}

@font-face {
    font-family: Foldit;
    src: url('../fonts/Foldit-VariableFont_wght.ttf');
    font-weight: 100 900;
}

/*Additionally used fonts: Segoe UI*/

* {
    margin: 0;
    padding: 0;
}

/*ELEMENT SPECIFIC*/

body {
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
}

ul {
    list-style: none;
}

h1, h2 {
    margin: var(--gap-small);
    text-align: center;
    text-wrap: balance;
}


h1 {
    font-family: 'Segoe UI';
    color: light-dark(var(--header-color), var(--header-color-dark));

    text-shadow: aqua -1px -1px 0px,
                    red 1px 1px 0px;
}

h2:not(:only-child) {
    font-family: Rubik;
}

h3 {
    font-family: 'Segoe UI';
    text-wrap: balance;
}

p, h4, h5, h6 {
    font-size: 1rem;
    color: light-dark(var(--text-color), var(--text-color-dark));
    font-family: 'Nunito';
}

label, output {
    color: light-dark(var(--text-color), var(--text-color-dark));
    font-family: 'Rubik';
}

section a {
    --trans-time: .2s;

    pointer-events: all;

    display: block;
    width: max-content;
    max-width: 200px;

    padding: var(--pad-small);

    color: rgb(18 26 95);
    font-family: 'Nunito';
    
    text-wrap: balance;
    word-wrap: break-word;
}

section a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    transform: translate(-1px, 0);
    background-color: rgb(18 26 95);

    transition: width var(--trans-time);
}

section a:hover::after {
    width: 100%;
}

button, .button {
    display: block;
    padding: var(--pad-small);

    background: linear-gradient(light-dark(var(--interactable), var(--interactable-dark)) 50%, rgb(10 10 10 / .1) 100%);
    color: light-dark(var(--text-color), var(--text-color-dark));

    font-family: 'Nunito';
    font-weight: 500;

    transition: background-color var(--trans-time), color var(--trans-time), box-shadow var(--trans-time);


}

button:hover:not(:disabled), button:focus:not(:disabled) {
    background-color: light-dark(var(--interactable-dark), var(--interactable));
    color: light-dark(var(--text-color-dark), var(--text-color));
    box-shadow: 0px 2px 5px 2px light-dark(var(--border-color), var(--border-color-dark));
    background-size: 0;
}

button:hover:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    box-shadow: none;
    background: linear-gradient( hsl(from light-dark(var(--interactable), var(--interactable-dark)) h s calc(l * .8)) 50%, rgb(10 10 10 / .5) 100%);
    color: hsl(from light-dark(var(--text-color), var(--text-color-dark)) h s calc(l * .8));
}

abbr {
    display: inline;
    text-decoration: none;
    /* text-decoration-color: rgb(220, 220, 220);
    text-decoration-thickness: 1px; */

    font-family: Rubik;
    font-style: italic;
    font-weight: 400;
}

abbr:hover {
    cursor: default; /*Prevent text cursor*/
    font-weight: 500;
}

hr {
    height: 1px;
    background-color: light-dark(var(--border-color), var(--border-color-dark));
    border: none;
    margin: var(--gap-small) 0;
}

li > button {
    height: 100%;
}


/*FEATURES*/

.custom {
    appearance: none;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}

.relative {
    position: relative;
}

.text-shadow {
    position: absolute;
    
    left: 0;
    bottom: 0px;
    transform: translate(2px, calc(30% + 4px));
    height: 100%;
    color: white;
}

.ign-point {
    pointer-events: none;
    touch-action: none;

    & abbr {
        pointer-events: all;
    }
}


/*Size features*/

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.pad-small {
    padding: var(--pad-small);
}

.gap-small {
    gap: var(--gap-small);
}

.aspect-height {
    height: 100%;
    aspect-ratio: 1/1;
}  

.aspect-width {
    width: 100%;
    aspect-ratio: 1/1;
}

.round-height {
    height: auto;
    aspect-ratio: 1 / 1;
}

.round-width {
    height: auto;
    aspect-ratio: 1 / 1;
}


/*Layout features*/

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-stretch > * {
    flex: 1;
}

.flex-center {
    justify-content: center;
}

.flex-align {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.center {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.list-space {
    margin-bottom: var(--gap-small);
}

.list-space-2 {
    margin-bottom: var(--gap-main);
}

.text-center {
    text-align: center;
}


/*Component features, Interactables*/

.border, button {
    border-radius: var(--border-radius);
    
    border: solid 2px light-dark(var(--border-color), var(--border-color-dark));
    box-shadow: 0px 0px 10px 2px light-dark(var(--border-color), var(--border-color-dark));
}


.checkbox {
    appearance: none;

    display: block;
    height: 1rem;
    width: auto;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    margin-left: var(--gap-small);

    /* justify-self: flex-start; */
    /* align-self: flex-start; */

    color: light-dark(var(--border-color), var(--border-color-dark)); /*Used for currentColor*/
    border-radius: 5px;
    border: solid 3px currentColor;
    background-color: rgb(0 0 0 / 0);

    transition: background-color .1s;
}

.checkbox:hover {
    cursor: pointer;
    border-color: hsl(from currentColor h s calc(l * 1.5));
}

.checkbox:checked {
    background-color: light-dark(var(--interactable-dark), var(--interactable-dark));
}

.radial-ind[solid] > span { /*UNUSED*/
    background-color: light-dark(black, white);
}


.line-seperator { /*UNUSED*/
    margin-bottom: var(--gap-main);

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: light-dark(rgb(80, 80, 80), rgb(150, 150, 150));
    }
}


/*Text features*/

.text-color {
    color: light-dark(var(--text-color), var(--text-color-dark));
}

.text-color-light { /*Color is light*/
    color: var(--text-color-dark);
}

.text-color-dark { /*Color is dark*/
    color: var(--text-color);
}

.text-ellipse {
    text-overflow: ellipsis;
}

.read-margin {
    margin-left: 12px;
    margin-right: 12px;
}

/*HEADER*/

header h1 {
    font-size: var(--title-size);
}

.header-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: var(--pad-main);
    gap: 10px;
}

.mobile-menu-btn {
    display: none;
}

.header-left {
    width: fit-content;
    height: 100%;
}

.header-right {
    height: 100%;
    justify-content: center;
}

nav {
    min-width: 20%;
    max-height: 100%;
}

.nav-list {
    position: relative;
    /* display: flex;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100%;
    gap: calc(2 * var(--gap-main));
    flex-direction: row; */

    max-height: 100%;
    text-overflow: clip;
    justify-content: space-evenly;
    
}

.nav-list > li {
    display: inline-block;
    margin: 0 var(--gap-main);
    

    width: max-content;
    max-width: 100px;

    text-align: center;
}

/*https://stackoverflow.com/questions/5687035/css-bolding-some-text-without-changing-its-containers-size*/

header a {
    text-decoration: none;
    font-weight: 500;
    font-family: Nunito;
    color: light-dark(var(--title-color), var(--title-color-dark));

    letter-spacing: 0px;
    transition: font-weight .4s, letter-spacing .45s;
}

header li:has(a:hover) {
    /* margin: 0 var(--init-width); */
} 

header a:hover {
    font-weight: 800;
    letter-spacing: calc(-0.4675px);
}


.nav-list > li > * {

}


/*Current Site*/

#current-site > * {
    width: max-content;
    height: 100%;
    margin: 0 auto;
}

#current-site {
    /* grid-area: cs; */ /*Defined in each site CSS*/
    padding: 1%;

    background-image: url("../img/dotImgBlack.svg");
    background-repeat: repeat;
    background-size: 150px;
    
    font-family: Foldit, Verdana;
    font-size: 2rem;
}

/*FOOTER*/

footer {
    margin-top: 100px; /*Must be atleast size of the section y-transform when hovered*/
    background-color: light-dark(var(--bg-main), var(--bg-main-dark));

    /* box-shadow: inset 0px 2px 6px -2px black; */
    border-top: 1px solid light-dark(var(--border-color), var(--border-color-dark));
}

.footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;


    width: 100%;

    margin-bottom: var(--gap-small);
    height: calc(100% - 2 * var(--gap-small));
    justify-content: space-around;

}

.footer-list > *:last-child {
    margin: 0 var(--pad-main);
    grid-column: 1 / -1;
}

.footer-list > section {
    flex-basis: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: calc(2 * var(--pad-main)) 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--gap-main);

    border-radius: var(--border-radius);
    background-color: light-dark(var(--bg-main), var(--bg-main-dark));
    border-top: 1px solid rgb(0 0 0 / 0);

    transition: transform .3s, border-top .2s;
}

.footer-list > section:hover {
    transform: translate(0, -10px);

    border-radius: var(--border-radius);
    border-top: solid 2px light-dark(var(--border-color), var(--border-color-dark));
    box-shadow: var(--border-box-shadow)
}

ul[class=list-col] > * {
    margin-bottom: var(--gap-small);
}

ul[class=list-col] > li::marker {
    list-style: disc;
    display: inline;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: black;
}

ul[class="grid-collage"] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
}

ul[class="grid-collage"] > * {
    aspect-ratio: 1 / 1;
}

footer > .bottom {
    padding-bottom: var(--gap-small);
    height: max-content;
    justify-content: space-evenly;

    background-color: light-dark(var(--bg-sec), var(--bg-sec-dark));
}

footer > .bottom > * {
    margin-top: calc(var(--gap-small) / 2);
    height: 100%;
    width: max-content;
}

.bottom > span {
    display: block;
    height: 100%;
    width: 50%;
}

/*Contrast optimization*/

@media all and (prefers-contrast: more) {
    h1 {
        text-shadow: none;
    }
    #current-site > *{
        background-color: black;
    }
}

/*Mobile nav*/

@media all and (width < 800px) {
    header h1 {
        font-size: calc(var(--title-size) * .8);
    }

    header a {
        font-size: min(1.2em, 20px);
    }

    .header-left {
        flex: 1;
    }

    .header-container::after {
        content: "";
        height: 2.5rem;
        aspect-ratio: 1/1;
    }

    .header-container {
        justify-content: center;
        align-items: center;
    }

    header {
        position: relative;
    }

    nav {
        visibility: hidden;
        position: absolute;
        bottom: 0px;
        opacity: 0;

        transition: bottom .5s, opacity .2s, visibility .2s allow-discrete;
    }

    .mobile-menu-btn {
        display: block;
        margin-right: auto;
       /*  position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%); */
        
        height: 2.5rem;
        width: auto;
        aspect-ratio: 1 / 1;

        background-image: url('../img/square-caret-down-regular-full-black.svg');
        background-size: cover;

        transition: transform .2s;
    }

    .mobile-menu-btn:checked {
        transform: rotate(180deg) /* translate(0, 50%) */;
    }

    .header-container:has(.mobile-menu-btn:checked) > nav {
        visibility: visible;
        bottom: calc(-50% - 5px);
        opacity: 1;
    }
}

/*Dark color scheme optimization*/

@media all and (prefers-color-scheme: dark) {
    .mobile-menu-btn {
        background-image: url('../img/square-caret-down-regular-full-white.svg');
    }

    #current-site {
        background-image: url("../img/dotImgWhite.svg");
    }
}