#status {
    width: fit-content;
    max-width: 90vw;
    max-height: 50vh;

    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;

    padding: var(--pad-main);
    
    border-radius: var(--border-radius);
    border: solid 1px light-dark(var(--border-color-dark), var(--border-color));
    background: linear-gradient(-45deg, rgba(214, 197, 162, 0.8) 0%, rgba(197, 197, 197, 0.8) 50%);

    visibility: hidden;
    opacity: 0;

    transition: opacity var(--trans-time), visibility var(--trans-time) allow-discrete;

    & > div {
        width: 100%;
        align-items: center;
    }

    & > .desc {
        width: 100%;
        height: fit-content;
        color: var(--text-color);
    }

    & .title {
        color: var(--title-color-dark);
    }
}