/*STYLE FOR index.html*/

:root {
    
}

/*WRAPPER*/

#wrapper {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 10% calc(80% - 2 * max(var(--main-gap), 2vw)) 10%;
    grid-template-rows: 1fr auto 4fr auto;
    grid-template-areas:
    "hd hd hd"
    ". tb ."
    ". td ."
    "ft ft ft";

    gap: max(var(--main-gap), 2vw);
}

header {
    grid-area: hd;
}

.particles {
    grid-area: tb;

    box-sizing: border-box;
    padding-bottom: var(--main-padding);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}

.particle-data {
    grid-area: td;
}

footer {
    grid-area: ft;
}

/*-----------------------------*/
/*ELEMENT SPECIFIC*/

/*-----------------------------*/

/*TABLE*/

.table-container {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 10% auto;
    gap: var(--main-gap);
}

.upper-bar {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 100%;
}

.upper-bar > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.upper-bar > .col-hd {
    grid-column: 1 / span 3;
    height: 50%;

    & :nth-child(1) {
        grid-column: 1 / span 1;
    }
    & :nth-child(2) {
        grid-column: 2 / span 1;
    }
    & :nth-child(3) {
        grid-column: 3 / span 1;
    }
}
.upper-bar > .col-hd > * {
    text-align: center;
}

.upper-bar > .legand {
    grid-column: 3 / span 2;
}

.table {
    grid-column: 1 / -1;
    grid-row: -2 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(5, auto);

    
}

.entry {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    box-sizing: border-box;
    padding: var(--small-padding);
}

.particle {
    width: 100%;
    height: 100%;

    position: relative;

    & .particle-name {
        width: 100%;
        height: fit-content;
    
        text-align: center;
    }

    & .particle-img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    & .center {
        position: absolute;
        top: 0;
        left: 0;
    }

    & .center > div {
        width: 50%;
        height: 50%;
    }

    & .particle-data-list {
        font-size: .6rem;
    }
}

/*TABLE DATA*/

.particle-data > .header {
    margin-bottom: var(--large-gap);
    justify-content: space-between;

    & .options {
        gap: var(--small-gap);
    }
}


/*SIDEBAR*/

@media all and (width < 750px) {
    .particle-data-list {
        display: none;
    }
}