/*STYLE FOR index.html*/

:root {
    
}

/*WRAPPER*/

#wrapper {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 10% calc(80% - 2 * max(var(--gap-main), 2vw)) 10%;
    grid-template-rows: 80px auto auto 4fr auto;
    grid-template-areas:
    "hd hd hd"
    ". cs ."
    "sp tb ."
    "sp td ."
    "ft ft ft";

    column-gap: max(var(--gap-main), 2vw);
    row-gap: var(--gap-large);

    background-color: light-dark(var(--bg-main), var(--bg-main-dark));
}

header {
    grid-area: hd;
}

#current-site {
    grid-area: cs;
    padding: 1%;

    background-image: url("../img/dotImgBlack.svg");
    background-repeat: repeat;
    background-size: 150px;
    
    font-family: Foldit, Verdana;
    font-size: 2rem;
}

.side-panel-container {
    grid-area: sp;

    margin-left: var(--pad-small);
}

.particles {
    grid-area: tb;

    overflow-x: auto;

    box-sizing: content-box;
    padding: var(--pad-large);

    background-color: light-dark(var(--bg-sec), var(--bg-sec-dark));
    border-radius: var(--border-radius);
}

.particle-details-container {
    grid-area: td;

    box-sizing: border-box;
    padding: var(--pad-main);
    
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 20px 2px rgb(100 100 100 / .2);
}

footer {
    grid-area: ft;
}

/*-----------------------------*/
/*ELEMENT SPECIFIC*/

/*-----------------------------*/

#current-site > * {
    width: max-content;
    height: 100%;
    margin: 0 auto;
}

/*TABLE*/

.table-container {
    width: 100%;
    height: auto;
    min-width: 450px;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr auto;
    /* gap: var(--gap-main); */
    resize: both;
}

.upper-bar {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 100%;
}

.upper-bar > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.upper-bar > .col-hd {
    grid-column: 1 / span 3;
    height: 50%;

    & :nth-child(1) {
        grid-column: 1 / span 1;
    }
    & :nth-child(2) {
        grid-column: 2 / span 1;
    }
    & :nth-child(3) {
        grid-column: 3 / span 1;
    }
}
.upper-bar > .col-hd > * {
    text-align: center;
}

.upper-bar > .legand {
    grid-column: 3 / span 2;
}

.table {
    grid-column: 1 / -1;
    grid-row: -2 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(5, auto);

    
}

.entry {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    box-sizing: border-box;
    padding: calc(var(--pad-small) / 2);
}

@property --radial-end {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 75%;
}

@keyframes particle-hover {
    from {
        --radial-end: 75%;
    }
    to {
        --radial-end: -50%;
    }
}

.particle {
    width: 100%;
    height: 100%;

    position: relative;

    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: calc(var(--pad-small) / 2);

    background: radial-gradient(circle at 100% 100%, rgb(0 0 0 / 0) var(--radial-end), light-dark(rgb(92 105 66 / .5), rgb(92 105 66 / 1)));

    transition: border-color var(--trans-time);

    & .particle-name {
        width: 100%;
        height: fit-content;
    
        text-align: center;
    }

    & .particle-img {
        width: 100%;
        aspect-ratio: 1/1;

        box-sizing: border-box;
        padding: 10px;
    }

    & > .center {
        position: absolute;
        top: 0;
        left: 0;
    }

    & > .center > div {
        width: 50%;
        height: 100%;
        font-family: Rubik;
    }

    & .particle-data-list {
        width: 100%;
        height: 100%;
        font-size: .7rem;
    }

    & .particle-data-list > *:first-child {
        margin-top: .5rem;
    }

    & .particle-data-list > * {
        margin-left: .5rem;
    }

}

.particle:hover, .particle:focus {
    border-color: hsl(from var(--border-color) h s calc(l * 1.2 ));
    
    animation: particle-hover .2s linear forwards;
}

/*TABLE DATA*/

.particle-details-container > .details-header {
    margin-bottom: calc(var(--gap-large) / 2);
    justify-content: space-between;

    & .options {
        margin-left: var(--gap-main);
        gap: var(--gap-small);
    }
}

.particle-details {
    display: flex;
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 100%; */
    reading-flow: grid-order; /*NOT BASELINE*/

    position: relative;
    overflow-y: auto;

    padding: var(--pad-main);    
}

.particle-details:nth-child(0) {
    order: 0;
}

.particle-details:nth-child(1) {
    order: 1;
    display: none;
}

.particle-details > * {
    min-width: 250px;
}

.details-list {
    min-height: 200px;
    max-height: min(10vw, 500px);
    overflow-y: auto;
    overflow-x: hidden;

    container-type: scroll-state;

    position: relative;
}

.details-list-header > ul > li > button {
    height: 100%;
    min-width: 40px;
}

.details-list-header > div > svg {
    max-height: var(--title-size);
}

.details-list-header .particle-img {
    height: 100%;
    width: auto;
}

.details-category  {
    width: 100%;
    container-type: scroll-state;
}

.details-category-header {
    position: sticky;
    top: 2%;

    margin: var(--gap-main) 0;
}

@container scroll-state(scrollable: bottom) {
    .details-category-header {
        visibility: hidden;
    }
}

.details-category-list {
    width: 100%;
    background-color: light-dark(var(--bg-sec), var(--bg-sec-dark));

    border-radius: var(--border-radius);

    &>li {
        min-height: 50px;
        width: 100%;
        justify-content: space-between;
        
        border-radius: var(--border-radius);
        /* background: linear-gradient(90deg, hsl(from var(--fg) h s calc(l * .7)), var(--fg)); */
    }
    &>li > label {
        width: fit-content;
        justify-self: flex-start;
        align-self: center;
        margin-left: var(--pad-main);

        color: hsl(from var(--text-color) h s l);
        text-wrap: balance;
    }

    &>li > output {
        max-width: 50%;
        margin-right: var(--pad-main);
        align-self: center;
        justify-self: self-end;
    }
}

.str-data {
    height: fit-content;
    line-break: normal;
    text-wrap: balance;
}

.unit-selector {
    margin-left: var(--gap-small);
    border-radius: calc(var(--border-radius) / 2);
}

.tags {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    overscroll-behavior-x: contain;
    overflow-x: auto;
}

.tag {
    width: auto;
    margin-left: var(--gap-small);
    padding: calc(var(--pad-small) / 2);

    border-radius: var(--border-radius);
    border: solid 2px light-dark(var(--border-color), var(--border-color-dark));
}

.tag > p {
    width: max-content;
    height: 90%;
    padding: var(--pad-small);

    border-radius: calc(var(--border-radius) * .5);
    background-color: hsl(from currentColor h s calc(l * .3));
    color: rgb(from var(--text-color-dark) r g calc(b * 1.05));
}




/*SIDEBAR*/

.side-panel {
    height: 100%;
}

.side-panel > .title {
    height: max-content;
    font-size: 1.2rem;
}

.side-panel-list {
    position: relative;
    align-items: center;
}

.side-panel-list > label {
    width: calc(80% - var(--gap-small) * 2);
    font-size: .8rem;
}

.side-panel-list > input {
    max-width: 20%;
}

/*Mobile optimization*/

@media all and (width < 1200px) {
    .particle-data-list {
        opacity: 0;
        width: calc(100% + var(--pad-small) / 2);
        height: calc(100% + var(--pad-small) / 2);
        box-sizing: border-box;
        padding: var(--pad-small);
        
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;

        border-radius: var(--border-radius);

        transition: opacity .3s, background-color .3s;
    }

    .particle-data-list:hover {
        opacity: 1;
        background-color: rgb(106 139 84 / 0.842);
    }

    .particle > .center {
        font-size: .8rem;
    }

    .particle > .center > div {
        width: 80%;
    }

    .particles {
        padding: 1em;
    }
}

@media all and (width < 800px) {
    #wrapper {
        grid-template-columns: 10px calc(100% - 20px) 10px;
        grid-template-rows: 80px auto auto 10vw 4fr auto;
        grid-template-areas:
        "hd hd hd"
        ". cs ."
        ". tb ."
        ". sp ."
        ". td ."
        "ft ft ft";
        column-gap: 0;
    }

    .side-panel {
        width: 100%;
        height: 100%;
        margin: 0;

        display: flex;
        flex-direction: row;
        column-gap: var(--gap-small);

        &:nth-child(1) {
            margin-right: var(--gap-small);
        }

        &>.side-panel-list {
            overflow-x: auto;
        }

        &>.title {
            margin: auto 0;
            margin-right: var(--gap-main);
        }
    }

    .particle > .center {
        font-size: .7rem;
    }
}

/*Dark color scheme optimization*/

@media all and (prefers-color-scheme: dark) {
    #current-site {
        background-image: url("../img/dotImgWhite.svg");
    }
}