/*STYLE FOR index.html*/

:root {
    
}

/*WRAPPER*/

#wrapper {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 10% calc(80% - 2 * max(var(--main-gap), 2vw)) 10%;
    grid-template-rows: 1fr auto 4fr auto;
    grid-template-areas:
    "hd hd hd"
    ". tb ."
    ". td ."
    "ft ft ft";

    gap: max(var(--main-gap), 2vw);
}

header {
    grid-area: hd;
}

.particles {
    grid-area: tb;
}

.particle-data {
    grid-area: td;
}

footer {
    grid-area: ft;
}

/*-----------------------------*/
/*ELEMENT SPECIFIC*/

/*-----------------------------*/

/*TABLE*/

.upper-bar {
    width: 100%;
    height: 10%;
}

.table-container {
    box-sizing: border-box;
    padding-bottom: var(--main-padding);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    width: 100%;
    height: auto;
}

.table {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(8, auto);
    gap: var(--small-padding);
}

.entry {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

/*TABLE DATA*/

/*SIDEBAR*/

