/*STYLE FOR index.html*/

:root {
    
}

/*WRAPPER*/

#wrapper {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 10% calc(80% - 2 * max(var(--gap-main), 2vw)) 10%;
    grid-template-rows: 80px auto auto 4fr auto;
    grid-template-areas:
    "hd hd hd"
    ". cs ."
    "sp tb ."
    "sp td ."
    "ft ft ft";

    column-gap: max(var(--gap-main), 2vw);
    row-gap: var(--gap-large);

    background-color: light-dark(var(--bg-main), var(--bg-main-dark));
}

header {
    grid-area: hd;
}

#current-site {
    grid-area: cs;
}

.side-panel-container {
    grid-area: sp;

    margin-left: var(--pad-small);
}

.particles {
    grid-area: tb;

    overflow-x: auto;

    --tb-padding: 1em;
    --tb-bg-color: light-dark(var(--bg-sec), var(--bg-sec-dark));
    --tb-border-radius: var(--border-radius);
}

.particle-details-container {
    grid-area: td;

    box-sizing: border-box;
    padding: var(--pad-main);
    
    box-shadow: 0px 0px 20px 2px rgb(100 100 100 / .2);
}

footer {
    grid-area: ft;
}

/*-----------------------------*/
/*ELEMENT SPECIFIC*/

/*-----------------------------*/

/*TABLE DATA*/

/*Uppermost header*/

.particle-details-container > .details-header {
    margin-bottom: calc(var(--gap-large) / 2);
    justify-content: space-between;

    & .options {
        margin-left: var(--gap-main);
        gap: var(--gap-small);
    }
}

/*Container for each particle*/

.particle-details {
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 100%; */
    reading-flow: grid-order; /*NOT BASELINE*/

    position: relative;
    overflow-y: auto;

    padding: var(--pad-main);    
}

.particle-details:nth-child(0) {
    order: 0;
}

.particle-details:nth-child(1) {
    order: 1;
    display: none;
}

.particle-details > * {
    min-width: 250px;
}

/*Section for each particle*/

.details-list {
    min-height: 200px;
    max-height: min(10vw, 500px);
    overflow-y: auto;
    overflow-x: hidden;

    position: relative;
}

/*Header for each particle*/

.details-list-header > ul > li > button {
    height: 100%;
    min-width: 40px;
}

.details-list-header > div > svg {
    max-height: var(--title-size);
}

.details-list-header .particle-img {
    height: 100%;
    width: auto;
}

/*Category*/

.details-category  {
    width: 100%;
}

/*The header for each category*/

.details-category-header {
    position: sticky;
    top: 0;

    height: 20px;
    margin: var(--gap-main) 0;

    /* color: currentColor;
    transition: filter var(--trans-time);
    filter: brightness(1); */

    container-type: scroll-state;
    container-name: sticky-heading;
}

/* .details-category-header >  {
    opacity: 1;
} */

@container sticky-heading scroll-state(stuck: top) {
    h4, img {
        opacity: .5;
    }
}

.details-category:has(.details-category-header > .drop-down:checked) > .details-category-list {
    display: none;
}

/*The table that containes the data*/

.details-category-list {
    width: 100%;
    color: light-dark(var(--fg), var(--fg-dark));
    background-color: currentColor;

    border: solid 1px rgb(100 100 100);
    box-sizing: border-box;

    --text-color: #4b4b4b;
    --text-color-dark: #a5a5a5;

    &>li {
        min-height: 50px;
        width: 100%;
        justify-content: space-between;
        
        /* color: light-dark(var(--fg), var(--fg-dark)); */
        color: inherit;
        background-color: currentColor;
        /* background: linear-gradient(90deg, hsl(from var(--fg) h s calc(l * .7)), var(--fg)); */
    }
    &>li > label {
        width: fit-content;
        justify-self: flex-start;
        align-self: center;
        margin-left: var(--pad-main);

        text-wrap: balance;
    }

    &>li > output {
        max-width: 50%;
        margin-right: var(--pad-main);
        align-self: center;
        justify-self: self-end;

        z-index: 2; /*Layer over details-category-header*/
    }
}

.details-category-list > li:nth-child(2n) {
    background-color: hsl(from currentColor h s calc(l * 1.2));
}

.details-category-list > li:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.details-category-list > li:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}


/*Data types*/

.str-data {
    height: fit-content;
    line-break: normal;
    text-wrap: balance;
}

.unit-selector {
    margin-left: var(--gap-small);
    border-radius: calc(var(--border-radius) / 2);
}

.tags {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    overscroll-behavior-x: contain;
    overflow-x: auto;

    padding: calc(var(--pad-small) / 2);
}

.tags > * {
    margin-left: var(--gap-small);
}

.tag {
    /* width: max-content;
    height: 90%; */
    /* width: 80%;
    transform: translate(-7.5%, 0); */

    padding: var(--pad-small);

    border-radius: calc(var(--border-radius) * .5);
    background-color: light-dark(hsl(from currentColor h s calc(l * 3)), hsl(from currentColor h s calc(l * .35)));
    color: var(--text-color-dark);
}




/*SIDEBAR*/

.side-panel {
    height: 100%;
}

.side-panel > .title {
    height: max-content;
    font-size: 1.2rem;
}

.side-panel-form {
    position: relative;
    align-items: center;
}

.side-panel-form > label {
    width: calc(80% - var(--gap-small) * 2);
    font-size: .8rem;
}

.side-panel-form > input {
    display: inline-block;
    max-width: 20%;

    transform: translate(0, 25%);
    
}

/*Contrast optimizations*/

@media all and (prefers-contrast: more) {
    /*Category header does not stick when scrolled*/
    .details-category-header {
        position: relative;
    }
}

/*Mobile optimization*/

@media all and (width < 800px) {
    #wrapper {
        grid-template-columns: 10px calc(100% - 20px) 10px;
        grid-template-rows: 80px auto auto 10vw 4fr auto;
        grid-template-areas:
        "hd hd hd"
        ". cs ."
        ". tb ."
        ". sp ."
        ". td ."
        "ft ft ft";
        column-gap: 0;
    }

    .side-panel {
        width: 100%;
        height: 100%;
        margin: 0;

        display: flex;
        flex-direction: row;
        column-gap: var(--gap-small);

        &:nth-child(1) {
            margin-right: var(--gap-small);
        }

        &>.side-panel-list {
            overflow-x: auto;
        }

        &>.title {
            margin: auto 0;
            margin-right: var(--gap-main);
        }
    }
}