/*TABLE*/

.table-container {
    width: 100%;
    height: auto;
    min-width: 450px;

    display: grid;
    grid-template-columns: var(--tb-padding) repeat(5, 1fr) var(--tb-padding);
    grid-template-rows: 1fr auto var(--tb-padding);
    /* gap: var(--gap-main); */
    resize: both;
}

.upper-bar {
    grid-column: 2 / -2;
    grid-row: 1 / span 1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 100%;

    font-weight: 700;
}

.upper-bar > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    background-color: var(--tb-bg-color);
    border-top-left-radius: var(--tb-border-radius);
    border-top-right-radius: var(--tb-border-radius);
}

.upper-bar > *:first-child {
    margin-right: 5px;
}

.upper-bar > *:last-child {
    margin-left: 5px;
}

.upper-bar > .col-hd {
    grid-column: 1 / span 3;
    height: 50%;

    & :nth-child(1) {
        grid-column: 1 / span 1;
    }
    & :nth-child(2) {
        grid-column: 2 / span 1;
    }
    & :nth-child(3) {
        grid-column: 3 / span 1;
    }

    & > * {
        text-align: center;
        margin-top: 5px; /* Adds top-padding in first row*/
    }
}

.upper-bar > .legand {
    grid-column: 4 / span 2;

    display: block;
    position: relative;
}

.upper-bar > .legand > *:first-child {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    container-type: scroll-state;

    width: 100%;
    height: 100%;

    & > * {
        min-width: 100%;
        width: 100%;
        height: 100%;

        scroll-snap-align: start;

        box-sizing: border-box;
        padding: var(--pad-small);

        justify-content: space-evenly;
    }

    & > * p {
        color: var(--ind-color);
    }
}

.scroll-marker {
    width: 100%;
    height: 10px;

    position: absolute;
    left: 0;
    top: 100%;

    & > * {
        display: block;
        border-radius: 50%;
        box-sizing: border-box;
        border: solid 1px black;
        background-color: rgb(0 0 0 / .5);
    }
}

.background {
    grid-column: 1 / -1;
    grid-row: 2 / -1;

    background-color: var(--tb-bg-color);
    border-radius: var(--border-radius);
}

.table {
    grid-column: 2 / -2;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(5, auto);

    box-sizing: border-box;
    padding-top: var(--gap-main);
}

.entry {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    box-sizing: border-box;
    padding: calc(var(--pad-small) / 2);
}

@property --radial-end {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 75%;
}

.particle {
    width: 100%;
    height: 100%;

    position: relative;

    border: 2px solid var(--border-color);
    box-sizing: border-box;
    padding: calc(var(--pad-small) / 2);

    /* --ind-color: rgb(88, 104, 84); */ /*Default color*/
    --ind-color-light: rgb(from var(--ind-color) r g b / .5);
    --radial-end: 75%;
    background: radial-gradient(circle at 100% 100%, 
                rgb(0 0 0 / 0) var(--radial-end), 
                light-dark(var(--ind-color-light), var(--ind-color)));

    transition: --radial-end var(--trans-time);

    & .particle-name {
        width: 100%;
        height: fit-content;
    
        text-align: center;
    }

    & .particle-img {
        width: 100%;
        aspect-ratio: 1/1;

        box-sizing: border-box;
        padding: 10px;
    }

    & > .center {
        width: 100%;
        height: 50%;
        font-family: Rubik;
    }

    & > .center > .circle {
        color: var(--tb-bg-color);
    }

    & .particle-data-list {
        width: 100%;
        height: fit-content;
        font-size: .7rem;
    }

    & .particle-data-list > *:first-child {
        margin-top: .5rem;
    }

    & .particle-data-list > * {
        margin-left: .5rem;
    }

}

.particle:hover, .particle:focus {
    border-color: hsl(from var(--border-color) h s calc(l * 1.2 ));
    
    /* animation: particle-hover .2s linear forwards; */
    --radial-end: -50%;
}